.page-enter-active,.page-leave-active{
  transition:opacity 2s;
  /* font-size:12px; */
}
.page-enter, .page-leave-active {
  opacity: 0;
  /* font-size: 40px; */
}
.test-enter-active,.page-leave-active{
  transition:opacity 2s;
  font-size:12px;
}
.test-enter, .page-leave-active {
  opacity: 0;
  font-size: 40px;
}
